<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <form th:method="post" th:action="@{/accounts/add_account}" th:object="${newAccount}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>

        <label for="balance">balance</label>
        <input type="number" th:field="*{balance}" id="balance"/>
        <div th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}"></div>
        <br>

        <label for="type">type</label>
        <input type="text" th:field="*{type}" id="type"/>
        <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
        <br>

        <input type="submit" value="Add account">
    </form>
</section>

</body>
</html>