<!DOCTYPE html>
<html xmlns:content-type="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h1 th:text="${editAccount.id}">id</h1>
    <form id="patchForm" th:method="patch" th:action="@{/accounts/edit_account/{id}(id=${editAccount.id})}"
          th:object="${editAccount}">

        <label for="name">new name: </label>
        <input id="name" th:type="text" th:field="*{name}"><br>

        <label for="balance">new balance:</label>
        <input id="balance" th:type="numbers" th:field="*{balance}"><br>

        <label for="type">new type:</label>
        <input id="type" th:type="text" th:field="*{type}"><br>

        <button form="patchForm" th:type="submit">OK</button>
    </form>
</section>
</body>
</html>