<!DOCTYPE html>
<html xmlns:content-type="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link rel="stylesheet"  href="/resources/accounts/css/standard_table.css" content-type:="text/css">
    <script content-type:="text/javascript" src="/resources/accounts/js/index.js"></script>
</head>
<body>

<section>
    <table>
        <caption>
            <h1>Accounts</h1>
        </caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Balance</th>
        </tr>
        </thead>

        <tbody th:each="account : ${all_accounts}">
        <tr>
            <td>
                <a th:href="@{/accounts/account/{id}(id=${account.id})}" th:text="${account.id}">id</a>
            </td>
            <td>
                <a th:href="@{/accounts/account/{id}(id=${account.id})}" th:text="${account.name}">name</a>
            </td>
            <td>
                <a th:href="@{/accounts/account/{id}(id=${account.id})}" th:text="${account.type}">type</a>
            </td>
            <td>
                <a th:href="@{/accounts/account/{id}(id=${account.id})}" th:text="${account.balance}">balance</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>


</body>
</html>