<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="shilaev"/>
<!--    <mvc:annotation-driven/>-->

    <bean id="byePrinter"
          class="shilaev.printer.ByePrinter"/>

    <bean id="helloPrinter"
          class="shilaev.printer.HelloPrinter"/>

    <bean id="messageMaker.byePrinter"
          class="shilaev.messageMaker.MessageMaker">
        <constructor-arg ref="byePrinter"/>
        <property name="defaultMessage" value="${MessageMaker.defaultMessage}"/>
    </bean>

    <bean id="messageMaker.helloPrinter"
          class="shilaev.messageMaker.MessageMaker"
          scope="prototype"
          factory-method="getMessageMaker">
        <constructor-arg ref="helloPrinter"/>
        <property name="defaultMessage" value="${MessageMaker.defaultMessage}"/>
    </bean>
</beans>