<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="musicPlayerExampleXMLResources/musicPlayer.properties"/>

    <bean id="deathcoreMusicBean" class="shilaev.musicPlayerExampleXML.Deathcore"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getDeathcoreMusic"
    />

    <bean id="neoClassicalMusicBean" class="shilaev.musicPlayerExampleXML.NeoClassic"/>
    <bean id="rapMusicBean" class="shilaev.musicPlayerExampleXML.Rap"/>

    <bean id="musicPlayerBean" class="shilaev.musicPlayerExampleXML.MusicPlayer" scope="prototype">
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList">
            <list>
                <ref bean="deathcoreMusicBean"/>
                <ref bean="rapMusicBean"/>
                <ref bean="neoClassicalMusicBean"/>
            </list>
        </property>
    </bean>

</beans>